@import "../_Vars.scss";
@import "../_Mixins.scss";

.modal {
  width: 100%;
  height: auto;
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: $font-white-color;
  background-color: $background-secondary;
  z-index: 3;
  &-container {
    width: 100%;
    text-align: center;
    margin: 2em 0;
    & span {
      font-size: 2em;
    }
    & h1 {
      font-size: 4em;
      margin: 1em 0;
      letter-spacing: 1.76px;
    }
    & button {
      background: transparent;
      color: inherit;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
  & .inputButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin: 1em auto;
    & .right button {
      @include btnNewPlaylist;
      width: 200px;
      display: inline-block;
      background-color: $background-plataform;
    }
  }
}

.cardPlaylist-container {
  display: grid;
  grid-template-columns: repeat(7, 180px);
  grid-template-rows: repeat(auto-fill, 240px);
  gap: 10px;
  text-align: center;
  place-content: center;
}

.cardPlaylist {
  @include cardPlaylist;
}


@media (max-width: 768){
  .modal-container h1{
    font-size: 2.5em;
  }

  .card-image-playlist {
    height: 150px;
  }
}