@import "../_Vars.scss";
@import "../_Mixins.scss";

.card {
  @include Card;
}

.containerCard {
  display: grid;
  margin: 0 15px -20px;
  &-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: $font-white-color;
  }
}

.sectionArtist-head{
  margin: 15px 35px 10px;
  color: $font-white-color;
}

@keyframes caja {
  0% {
    transform: translateX(0);
  }
  25%{
    transform: translateX(-85px)
  }
  50%{
    transform: translateX(0);
  }
  
  75%{
    transform: translateX(85px);
  }
  
  100%{
    transform: translateX(0);
  }
}
