@import "../Vars.scss";
@import "../Mixins.scss";

.card {
  @include Card;
}

.containerCard {
  display: grid;
  margin: 0px 20px;
  &-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: $font-white-color;
  }
  &-head a {
    color: $font-white-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
