@import "../Vars.scss";
@import "../Mixins.scss";

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  min-width: 320px;
  max-width: 100%;
  width: calc(100%);
  height: 70px;
  background-color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__buttons {
    width: auto;
    margin-left: 10px;
    &--btn {
      @include btnHeader;
      padding: 5px 8px;
      box-sizing: border-box;
    }
  }
  & .header__profile {
    @include btnHeader;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50px;
    & img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    & h2 {
      color: $font-white-color;
      font-size: 14px;
      padding: 0 10px;
      letter-spacing: 1px;
      font-weight: 400;
      font-family: $font-secundary;
    }
  }
}

.logo-home {
  margin-left: 15px;
}

@media (max-width: 767px) {
.logo-home {
  padding: 0;
  & img {
    width: 125px;
  }
}
}