.test {
  margin-top: 60px;
  margin-bottom: 70px;
  margin-left: 14em;
  display: grid;
  width: calc(100% - 14em);
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  place-items: center;
}
