@import "../_Vars.scss";
@import "../_Mixins.scss";

// body {
//   background: linear-gradient(0deg, $background-plataform, $background);
// }

.playlistMain {
  max-width: 1000px;
  height: 550px;
  margin: 4em auto;
  color: $font-white-color;
  &-title {
    font-size: 3em;
    margin: 0;
  }
  .playlistData {
    &-table {
      width: 100%;
      margin-bottom: 2em;
      border-collapse: collapse;
    }
  }
  & .playlistData h3 {
    font-size: 2em;
    margin: 32px 0 16px 0;
  }
}

.btn-Perfil {
  padding: 15px 30px;
  background: $background-plataform;
  color: $font-white-color;
  border: 1px solid $font-white-color;
  // width: 150px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  text-decoration: none;
}

td {
  border-bottom: 1px solid $font-white-color;
  padding: 20px 0;
  font-size: 1.3em;
}

// @media (max-width: 1440px){
//   .playlistMain {
//     margin: 4em auto;
//   }
// }
@media (max-width: 1024px){
  .playlistMain {
    margin: 4em 3em;
  }
}

@media (max-width: 768px){
  .playlistMain {
    height: 500px;
  }
  .playlistMain-title {
    font-size: 2em;
  }
  .playlistMain .playlistData h3{
    font-size: 1.8em;  
  }
}

@media (max-width: 480px){
  .playlistMain {
    height: 480px;
  }
  .playlistMain {
    margin: 3em 2em;
  }
  td{
    font-size: 1em;
  }
  .btn-Perfil{
    padding: 10px 20px;
    font-size: .9em;
  }
}

@media (max-width: 425px){
  .playlistMain {
    height: 525px;
  }
}
@media (max-width: 375px){
  .playlistMain {
    height: 500px;
  }
  .playlistMain-title {
    font-size: 1.5em;
  }
  .playlistMain .playlistData h3{
    font-size: 1.5em;
    margin: .5em 0;
  }
}

@media (max-width: 320px){
  .playlistMain {
    height: 450px;
    margin: 0em 1.5em;
  }
  .playlistMain-title, .playlistMain .playlistData h3 {
    font-size: 1.3em;
  }
  td{
    font-size: .9em;
  }
}