@import "../_Vars.scss";
@import "../_Mixins.scss";

.playlist-head {
  width: 100%;
  height: 340px;
  color: white;
  display: grid;
  grid-template-columns: 25% 70%;
  place-content: center;
  margin-top: 70px;
  &-image {
    text-align: center;
    margin: auto 0em;
  }
  &-image img {
    width: 100%;
  }
  &-details {
    margin: auto 1em;
  }
  &-details h5 {
    font-size: 1em;
    margin: 0;
  }
  &-details h1 {
    font-size: 5em;
    margin: 0;
  }
  &-details .metadatos {
    display: flex;
    align-items: center;
    & img {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
    & a {
      color: white;
    }
  }
}

.playlist-options {
  color: $font-white-color;
  display: flex;
  margin: 2em 1em;
  & button {
    @include btnPlaylist;
    margin: 0 10px;
  }
  & .play {
    width: 56px;
    height: 56px;
    padding: 0;
    border-radius: 50%;
    border: none;
    box-sizing: content-box;
    outline: none;
    cursor: pointer;
    background-color: $background-plataform;
    color: $font-white-color;
    &:hover{
      transform: scale(1.2);
    }
  }
  .icon {
    font-size: 40px;
    &-like:hover {
      // color: $background-plataform;
      transform: scale(1.2);
    }
  }
}

@media (max-width: 1024px) {
  .playlist-head {
    height: 220px;
    &-details {
      & h1 {
        font-size: 3em;
      }
      & h5 {
        font-size: 0.8em;
      }
    }
    &-datails .metadatos {
      font-size: 0.9em;
    }
  }
  .playlist-options {
    margin: 1em;
  }
}

@media (max-width: 768px) {
  .playlist-head {
    height: 180px;
    &-details {
      & h1 {
        font-size: 2.5em;
      }
      & h5 {
        font-size: 0.8em;
      }
      & .metadatos {
        font-size: 0.5em 1em;
      }
    }
  }
  .playlist-options {
    & .play {
      width: 46px;
      height: 46px;
    }
    & .icon {
      font-size: 35px;
    }
  }
}

@media (max-width: 480px) {
  .playlist-head {
    grid-template-columns: none;
    height: 250px;
    &-image img {
      width: 50%;
    }
    &-details {
      text-align: center;
      & .metadatos {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 375px) {
  .playlist-head {
    &-details {
      & h1 {
        font-size: 2em;
      }
      & .metadatos {
        font-size: 0.8em;
      }
    }
  }
  .playlist-options {
    margin: 1em;
    justify-content: center;
    & .play {
      width: 36px;
      height: 36px;
    }
    & .icon {
      font-size: 30px;
    }
  }
}
