@import "../Vars.scss";
@import "../Mixins.scss";

.Container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  color: $font-white-color;
  & .firstContainer {
    @include alignCard;
    display: flex;
  }
  & .secondContainer {
    @include alignCard;
    display: none;
    & h3 {
      font-size: 14px;
      padding: 5px 0;
    }
  }
}

.firstContainer__form {
  display: inherit;
  flex-direction: column;
  width: 100%;
  & input {
    @include input-plataform;
    align-self: center;
    margin: 5px 0;
  }
  & button {
    @include btn-plataform;
    margin-top: 10px;
    align-self: center;
  }
}

.division {
  display: inline-block;
  font-family: $font-secundary;
  margin-top: 5px;
  font-size: 14px;
  color: $font-grey-color;
}

.firstContainer__complement {
  display: inherit;
  flex-direction: column;
  align-items: center;
  & .btn-facebook {
    @include btn-facebook;
    margin-top: 5px;
  }
  & .btn-google {
    @include btn-google;
    margin-top: 10px;
  }
  & h2 {
    font-family: $font-secundary;
    margin: 20px 0 5px;
    font-weight: 400;
    font-size: 14px;
    color: $font-grey-color;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.secondContainer__form {
  display: inherit;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & label {
    font-size: 14px;
  }
  & .form__birthday {
    padding: 10px;
    width: 70%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 5px;
    & input {
      @include inputBirthday;
    }
    & select {
      @include inputBirthday;
      color: rgba(255, 255, 255, 0.45);
      font-weight: 400;
    }
  }
  & .radioButton {
    @include radio;
  }
  & p {
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 10px;
  }
  & button {
    @include btn-plataform;
  }
}

.logo {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  & h2 {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
  }
  & img {
    width: 150px;
  }
}

.complement-link {
  @include hyperLink;
}

.complement-button {
  @include hyperLink;
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
