@import "../Vars.scss";

.Container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

.Container .firstContainer {
  height: 90%;
  background-color: $card-color;
  grid-column: 2 / 3;
  align-self: center;
}

.Container .secondContainer {
  display: none;
  height: 90%;
  background-color: $card-color;
  grid-column: 2 / 3;
  align-self: center;
}
