@import "../_Vars.scss";
@import "../_Mixins.scss";

.containerCard {
  display: grid;
  margin: 0 15px -20px;
  &-head {
    color: $font-white-color;
    & h1 {
      margin: 0;
      font-size: 1.5em;
    }
  }
}

@media (max-width: 768px) {
  .results .resultsContainer {
    width: 95%;
  }
}
@media (max-width: 480px) {
  .results .resultsContainer {
    width: 93%;
  }
}
