@import "../_Vars.scss";
@import "../_Mixins.scss";

.search {
  margin: 4em 0;
  width: 100%;
  & h2 {
    margin: 0.5em 0;
    font-size: 2em;
  }
}

.searchGenders {
  color: $font-white-color;
  margin: 0 10px;
  text-align: center;
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 165px);
    grid-template-rows: 165px;
    gap: 10px;
    place-content: center;
    & .cardGenders {
      width: 165px;
      height: 165px;
      background: $background;
      border: 1px solid $font-white-color;
      text-align: center;
      border-radius: 10px;
    }
  }
}

@media (max-width: 768px) {
  .search {
    & h2 {
      font-size: 1.8em;
    }
  }

  .searchGenders {
    &-container {
      grid-template-columns: repeat(auto-fit, 130px);
      grid-template-rows: 130px;
      & .cardGenders {
        width: 130px;
        height: 130px;
      }
    }
  }
}

@media (max-width: 480px) {
  .search {
    & h2 {
      font-size: 1.5em;
    }
  }

  .searchGenders {
    &-container {
      grid-template-columns: repeat(auto-fit, 90px);
      grid-template-rows: 90px;
      & .cardGenders {
        width: 90px;
        height: 90px;
      }
    }
  }
}
