@import "../Vars.scss";
@import "../Mixins.scss";


.songsContainer {
  .containerCard {
    margin: 0;
  }
  .containerCard-head {
    display: grid;
    grid-template-columns: 83% 9%;
    grid-template-rows: 50px;
    place-content: center;
    align-items: center;
    color: $font-white-color;
    & h1 {
      margin: 0;
      font-size: 1.5em;
    }
    & a {
      color: $font-white-color;
      text-align: right;
      &:hover {
        color: $hover-color;
      }
    }
  }
  .songsContainer-results {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 100px; 
    place-content: center;
    gap: 10px;
  }
  & .song {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 180px 60px;
    background: $background;
    width: 340px;
    height: 100px;
    margin: 0;
    &-image {
      height: 100px;
      & img {
        width: 100px;
      }
    }
    &-Details {
      margin-left: 10px;
      & h3, p {
        margin: 10px 0;

      }
    }
    &-more {
      margin: auto;
      & a {
        text-decoration: none;
        color: $font-white-color;
      }
    }
  }
}