@import "../Vars.scss";
@import "../Mixins.scss";


.hero-fondo {
  background-image: url('../../static/triangulo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-welcomePage {
  color: $font-white-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  &-img {
    width: 180px;
    margin-left: 2em;
  }
  &-nav {
    &List {
      display: flex;
      list-style: none;
      &-Link {
        margin-right: 2em;
        & a {
          text-decoration: none;
          color: $font-white-color;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}  

.hero-welcomePage {
  width: 100%;
  background: rgba(34, 31, 59, .8);
  height: 100vh;
  &-container {
    color: white;
    text-align: center;
    text-shadow: 0 0 5px $font-white-color;
    padding-top: 6em;
    width: 70%;
    margin: auto;
  }
  &-title {
    font-size: 4em;
    margin: .5em 0 .3em 0;
  }
  &-subtitle {
    font-size: 2em;
    margin: 0 0 1em 0;
  }
  &-button {
    @include btn-plataform;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: 600;
    width: 250px;
    text-shadow: 0 0 5px $font-white-color;
  }
}

@media (max-width: 1024px){
  .hero-welcomePage {
    &-container {
    padding-top: 5em;
    }
  }
}

@media (max-width: 768px){
  .hero-welcomePage {
    &-container {
    padding-top: 3em;
    }
    &-title{
      font-size: 3em;
      margin: .3em 0 .3em 0;
    }
  }
}

@media (max-width: 480px){
  .header-welcomePage-img{
    width: 140px;
  }
  .header-welcomePage-navList-Link {
    margin-right: 1em;
    & a{
      font-size: .8em;
    }
  }

  .hero-welcomePage {
    &-container {
    padding-top: 3em;
    }
    &-title{
      font-size: 2.5em;
    }
    &-subtitle{
      font-size: 1.5em;
    }
    &-button{
      padding: 15px;
    }
  }
}

@media (max-width: 375px){
  .header-welcomePage-img{
    width: 180px;
  }
  .header-welcomePage-navList {
    display: none;
  }
  .header-welcomePage-img{
    margin: auto;
  }
  .hero-welcomePage {
    &-title{
      font-size: 2.2em;
    }
    &-subtitle{
      font-size: 1.3em;
    }
    &-button{
      padding: 10px;
    }
  }
}