@import "./_Vars.scss";

@mixin input-plataform {
  width: 80%;
  padding: 10px 0;
  background-color: $background-input;
  outline: none;
  border: none;
  color: $font-white-color;
  padding-left: 10px;
}
@mixin inputBirthday {
  padding: 5px 0;
  background-color: $background-input;
  outline: none;
  border: none;
  color: $font-white-color;
  padding-left: 10px;
}

@mixin alignCard {
  height: 90%;
  background-color: $background;
  grid-column: 2 / 3;
  align-self: center;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.15);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: 280px) and (max-width: 768px) {
    grid-column: 1 / 4;
    height: 100%;
    width: 100%;
    box-shadow: none;
  }
}

@mixin btn {
  padding: 10px 10px;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-weight: 500;
  font-family: $font-secundary;
}

@mixin btn-plataform {
  @include btn;
  width: 150px;
  background-color: $background-plataform;
  color: $font-white-color;
}

@mixin btn-facebook {
  @include btn;
  min-width: 150px;
  width: 250px;
  background-color: $background-facebook;
  color: $font-white-color;
}

@mixin btn-google {
  @include btn;
  min-width: 150px;
  width: 250px;
  background-color: $background-google;
}

@mixin radio {
  width: 80%;
  padding: 5px;
  border: 1px solid $font-grey-color;
  margin: 5px 0;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
  &input[type="radio"]:checked {
    background-color: red;
  }
  & label {
    margin-left: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $font-secundary;
  }
}

@mixin hyperLink {
  font-family: $font-secundary;
  color: $font-white-color;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
}

@mixin btnHeader {
  font-family: $font-secundary;
  background-color: inherit;
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  color: $font-gray-color;
  &:hover {
    background-color: $background-input;
    color: $font-grey-color;
  }
  &:disabled {
    background-color: inherit;
    color: $font-gray-color;
    cursor: auto;
  }
}
@mixin btnPlaylist {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin btnNewPlaylist {
  @include btn;
  padding: 8px 34px;
  letter-spacing: 1.76px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: $font-white-color;
}

@mixin Card {
  width: 200px;
  height: 250px;
  background-color: $background;
  &-link {
    text-decoration: none;
    color: $font-white-color;
  }
  &__image {
    width: 100%;
    height: 170px;
    & img {
      padding: 5px 5px 0 5px;
      width: calc(100% - 10px);
      height: calc(100% - 5px);
    }
  }
  &__info {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 80px;
    &--data {
      padding: 0px;
      width: 100%;
      margin: 5px 5px 5px 10px;
      overflow: hidden;
      &-Title {
        width: 200px;
        position: relative;
        animation-name: caja;
        animation-duration: 30000ms;
        animation-delay: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        & h2{
          font-size: 16px;
        }
      }
      & p {
        font-size: 12px;
      }
    }
    &--btn {
      padding-right: 10px;
      & button {
        transition: 0.2s ease-in-out;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        background-color: $background-plataform;
        & .PlayArrowIcon {
          font-size: 40px;
          color: $font-white-color;
        }
        &:hover{
          transform: scale(1.2);
        }
      }
    }
    // .active {
    //   opacity: 1;
    //   visibility: visible;
    // }
  }
}

@mixin cardPlaylist {
  width: 180px;
  height: 220px;
  background: none;
  .card-image-container {
    width: 100%;
    height: 60%;
    position: relative;
    & .card-image-playlist{
      width: 100%;
      height: 100%;
    }
  }
  .card--image-link {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
      color: $font-white-color;
      text-decoration: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  & .card-info-playlist {
    height: 40%;
    & .card-info-data {
      padding: 0;
      // margin: 0;
      width: 100%;
      & h2 {
        font-size: 1.2em;
        margin-top: 5px;
      }
      & p {
        margin: 5px 0;
      }
    }
  }
}