@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway&display=swap");
//letters color
$font-white-color: #fff;
$font-grey-color: #828282;
$font-gray-color: #535353;

//typo
$font-primary: "Noto Sans JP", sans-serif;
$font-secundary: "Raleway", sans-serif;

//background
$background: #2f2f2f;
// $background: #121212;
// $background: #111111;
// $card-color: #2f2f2f;
$card-color: #363635;

//formularios
$background-input: #1c1c1c;
$background-plataform: #1db954;
// $background-plataform: #26b1d0;
// $background-plataform: #3132a2;
// $background-plataform: #03738c;
$background-facebook: #4267b2;
$background-google: #fff;

//Hover

$hover-color: #535353;
