@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway&display=swap");
//letters color
$font-white-color: #fff;
$font-grey-color: #828282;

//typo
$font-primary: "Noto Sans JP", sans-serif;
$font-secundary: "Raleway", sans-serif;

//background
$fondo: #1c1c1c;
$card-color: #282828;

//formularios
$background-input: #1c1c1c;
$background-plataform: #1db954;
$background-facebook: #4267b2;
$background-google: #fff;

//Hover

$hover-color: #535353;
