@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway&display=swap");
//letters color
$font-white-color: #fff;

$font-grey-color: #828282;
$font-gray-color: #535353;
$otro: #ebebeb;

//typo
$font-primary: "Noto Sans JP", sans-serif;
$font-secundary: "Raleway", sans-serif;


$background: #221f3b;
$background-secondary: rgba(34, 31, 59,.9);
$card-color: rgba(235, 235, 235, .9);


//formularios
// $background-input: rgb(5, 5, 5);
$background-input: rgba(5, 5, 5, .7);
$background-plataform: #6f4a8e;
$background-facebook: #4267b2;
$background-google: #fff;

//Hover
$hover-color: rgba(111, 74, 142, 0.5);
